<form method="post", action="/signin">
  <label name="Name" />
  <input type="text" name="username" placeholder="Username:">
  </br>
  <label name="Password" />
  <input type="password" name="password" placeholder="Password:"/>
  </br>
  <input type="submit" name="Sign in" />
</form>
